html {
  font-family: 'Roboto', serif;
}

body {
  color: grey;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul.country-list {
  list-style: none;
  padding: 2em;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5em;
  justify-content: center;
}

/* Country Card */
div.card {
  max-width: 15em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border-radius: 10px;
}

div.country-img img {
  width: 240px;
  height: 160px;
}

div.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 0.5em;
}

div.likes {
  display: flex;
  align-items: center;
}

div.likes a {
  color: #000;
}

div.likes a svg {
  width: 1.3em;
}

div.actions {
  text-align: center;
  padding: 1em;
}

div.actions button {
  padding: 0.5em;
  width: 100%;
  font-size: 1em;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

.logo {
  padding: 19px;
  border-radius: 100%;
  border: 2px solid rgb(198, 192, 185);
  text-align: center;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

header {
  top: 0;
  padding: 70px 0 100px;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  width: 100%;
}

nav ul {
  padding-top: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: inherit;
}

ul li.active {
  border-bottom: 2px solid grey;
}

ul li {
  list-style: none;
  margin-right: 12px;
  cursor: pointer;
}

ul li:hover {
  border-bottom: 2px solid grey;
}

footer {
  position: fixed !important;
  color: black;
  background: white;
  font-size: 16px;
  font-weight: 300;
  left: 0 !important;
  bottom: 0 !important;
  width: 100%;
  text-align: left;
}

.footer-text {
  font-size: 12px !important;
  font-family: roboto, serif;
  color: black;
  letter-spacing: 1px;
  font-weight: 200 !important;
  margin: 0;
}
